<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vista de Prueba</title>
</head>
<body>
    <form action= "/login" method="post">

        <div >
                <input type="text" name="album"  >
            </div>
            <div>
                <input type="text" name="external_url" >
            </div>
            
          

        <button type="submit">Enviar</button>

    </form>

    <form action= "/delete" method="post">

            <div >
                <input type="text" name="id" placeholder="delete" >
            </div>
            
          

        <button type="submit">Eliminar</button>

    </form>
    <form action="/getRecommendations/" method="get">

        <div >
            <input type="text" name="id"  placeholder="id" >
        </div>
        
      

    <button  type="submit">Eliminar</button>

</form>

<form action= "/insertRecommendation" method="post">

    <div >
            <input type="text" name="album" >
        </div>
        <div>
            <input type="text" name="external_url" >
        </div>
        <div>
            <input type="text" name="href" >
        </div>
        <div>
            <input type="text" name="name">
        </div>
        <div>
            <input type="text" name="userid">
        </div>
      

    <button type="submit">Insertar Recomendacion</button>

</form>


</body>
</html>